<nav class="black">
    <ul id="slide-out" class="side-nav">
        <li><div class="userView">
            <div class="background">
                <img class="user-background" src="/images/background.jpg">
            </div>
            <a href="#!user"><img class="circle" src="{{this.avatar_url}}"></a>
            <a href="#!name"><span class="white-text name">{{this.displayName}}</span></a>
            <a href="#!email"><span class="white-text email">{{this.email}}</span></a>
        </div></li>



        {{#each repo}}
            <li><a class="waves-effect" href="/issues/{{this.name}}">{{this.name}}</a></li>
        {{/each}}
        <br>
        <li><div class="divider"></div></li>

        <a href="logout/" class="register, waves-effect waves-light btn">Logout</a>


        <a class="login-button, waves-effect waves-light btn" href="/auth/github">Login</a>

    </ul>

    <i href="#" data-activates="slide-out" class="button-collapse material-icons menu">menu</i></a>

    <img class="logo" src="/images/logo.jpg" alt="github logo"/>

</nav>