<nav class="black">
    <ul id="slide-out" class="side-nav fixed">
        <li><div class="userView">
            <div class="background">
                <img class="user-background" src="/images/background.jpg">
            </div>
            <a href="#!user"><img class="circle" src="{{this.nav.avatar_url}}"></a>
            <a href="#!name"><span class="white-text name">{{this.nav.displayName}}</span></a>
            <a href="#!email"><span class="white-text email">{{this.nav.email}}</span></a>
        </div></li>
        {{#if repo}}
            <a href="/logout" class="register, waves-effect grey-light btn">Logout</a>
            {{#each repo.repo}}
                <li><a class="waves-effect" href="/{{this.name}}">{{this.name}}</a></li>
            {{/each}}
            {{else}}
            <a class="login-button, waves-effect grey-light btn" href="/auth/github">Login</a>
        {{/if}}

    </ul>
    <i href="#" data-activates="slide-out" class="button-collapse material-icons menu">menu</i></a>
    <img class="logo" src="/images/logo.jpg" alt="github logo"/>
</nav>