<nav class="black">
    <ul id="slide-out" class="side-nav">
        <li><div class="userView">
            <div class="background">
                <img class="user-background" src="/images/background.jpg">
            </div>
            <a href="#!user"><img class="circle" src="{{session.user.avatar_url}}"></a>
            <a href="#!name"><span class="white-text name">{{session.user.displayName}}</span></a>
            <a href="#!email"><span class="white-text email">{{session.user.email}}</span></a>
        </div></li>
        {{#if session.repo}}
            <li><div class="divider"></div></li>
            <a href="/logout" class="register, waves-effect waves-light btn">Logout</a>
            <br>
            {{#each session.repo}}
                <li><a class="waves-effect" href="/{{sesion.repo.name}}">{{session.repo.name}}</a></li>
            {{/each}}

        {{/if}}
        <a class="login-button, waves-effect waves-light btn" href="/auth/github">Login</a>
    </ul>
    <i href="#" data-activates="slide-out" class="button-collapse material-icons menu">menu</i></a>
    <img class="logo" src="/images/logo.jpg" alt="github logo"/>
</nav>